#wrapper {
    position: relative; 
    margin-top: 30px;
}

#apple-game-drag {
    z-index: 2; 
    position: absolute; 
    left: 50%; 
    top: 0;  
    transform: translateX(-50%);
    box-sizing: border-box;
}

#apple-game-apple {
    z-index: 1; 
    position: absolute; 
    left: 50%; 
    top: 0; 
    transform: translateX(-50%);
    box-sizing: border-box;    
}

#apple-game-background {
    z-index: 0; 
    position: absolute; 
    left: 50%; 
    top: 0; 
    transform: translateX(-50%);
    background-color: bisque;
    border-radius: 12px;
    border: 14px solid orangered;
    box-sizing: border-box;
}

body {
    margin: 0px !important;
}